.font{
	font-family: Courier New;
}

#userlist{
	float:left;
	width:10%;
	height:300px;
	border-right:1px solid black;
	padding:10px;
	overflow: scroll-y;
}

#gameroomlist{
	width:90%;
	height:450px;
	overflow: scroll-y;
	padding:10px;
}

#createGameRoomTable{
	height: 300px;
	width: 400px;
	position: absolute;
	z-index: 5;
	background: white;
}

#background{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.75);
	z-index: 3;
}

.button{
	font-family: Courier New;
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
}

.button:hover{
	color: red;
	cursor:pointer;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}
